* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.header {
	padding: 20px 0px;
	background: rgb(204,0,0);
	color: white;
}
.header h1 {
	width: 100%;
	font-size: 20px;
}
.header img {
	width: 40px;
	background: white;
	border-radius: 20px;
	padding: 5px;
}

.name_elements {
	margin: 20px 0px 30px 0px;
}

#country_img_element {
	width: 50px;
	border: 1px solid black;
	margin: 0px 10px;
}

#image_element {
	width: 100%;
	max-width: 600px;
}

#generate_button {
	width: 100px;
	margin: 20px 0px 50px 0px;
	padding: 15px;
	cursor: pointer;
	border: 2px solid transparent;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#generate_button:active {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 34px, rgba(0, 0, 0, 0.20) 0px 11px 8px;
	transform: translateY(4px);
}
#generate_button img {
	width: 100%;
}